.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.hero {
  background: url('https://th.bing.com/th?id=OIP.V5NEUA9D1EBA_CmmKVx5IAHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.4&pid=3.1&rm=2') no-repeat center center/cover;
  color: white;
  padding: 50px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
}

.product img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.contact {
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
